/* styles.css */

* {
    background-color: darkblue;
    color:white
}

h1, h2 {
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li {
    color:lightblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.box {
    width: 250px; 
    height: 150px; 
    color: #fff; 
    padding: 4px 12px;
    margin: 10px;
    font-size: 20px;
    border-radius: 15px;
    border: 3px solid white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.intro {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.singapore {
    opacity: 1.8;
    height: 25px;
    width: 40px;
    vertical-align: middle;
}

.codes {
    height: 140px;
    width: 220px;
}

.blockchain {
    height: 140px;
    width: 250px;
}

table {
    border: 1px solid black;
    background-color: rgb(43, 138, 138);
}

tr {
    background: rgba(210, 243, 89, 0.847);
    border-bottom: 1px solid #FFF;
    margin-bottom: 5px;
}

thead th {
    background: rgb(104, 193, 252);
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 2px;
}

th, td {
    background: rgb(47, 255, 168, 151);
    font-family: sans-serif;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    width: 33.3333%;
    font-size: 11px;
    border: 1px solid black;
    color: rgb(5, 5, 71);
}